<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/admin/listPermission"><i class="fa fa-home">Home</i></a></li>
    </ol>
</nav>
<section>
    <div class="table table-bordered" style="padding:2% 2% 2% 2%;">

        <div class="row">
            <div class="col">
                <h3> Permissions</h3>
            </div>
            <div class="col-1">
                <a href="/admin/addPermission" class="btn btn-primary" id="basic-addon2">ADD</a>
            </div>
            
        </div>

        <br>
        <form>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" id="myInput" placeholder="Search ID ....">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Search RoleName...">
                </div>
            </div>
        </form>
        <br>
        <div class="wrapper_all">
            <table id="myTable1" class="table table-striped table-bordered table-sm" style="text-align: center;">

                <thead class="flip-content">
                    <tr>
                        <th scope="col"> Permission ID</th>
                        <th scope="col">Permissions</th>
                        <th scope="col">Permission Status</th>
                        <th scope="col">UpdatedAt</th>
                        <th scope="col">CreatedAt</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (var i=0; i < data.length; i++) { %>
                        <tr>
                            <td>
                                <%= data[i].id_Permission %>
                            </td>
                            <td>
                                <%= data[i].permissions %>
                            </td>
                            <td>
                                <%=data[i].permission_Status%>
                            </td>
                            <td>
                                <% var date=new Date(data[i].Updated_At); %>
                                    <%= date.toLocaleString(); %>
                            </td>
                            <td>
                                <% var date=new Date(data[i].Created_At); %>
                                    <%= date.toLocaleString(); %>
                            </td>
                            <td>
                                <%= data[i].Action %>
                                    <div class="row">
                                        <div class="col">
                                            <ul class="list-inline m-0">
                                                <div class="row">
                                                    <div class="col-4">
                                                        <li class="list-inline-item">
                                                            <a class="btn btn-success btn-sm rounded-0"
                                                                href="<%= url('admin.editPermission', {id_Permission: data[i].id_Permission }) %>"><i
                                                                    class="fa fa-edit"></i></a>
                                                        </li>
                                                    </div>
                                                    <div class="col-2">
                                                        <li class="list-inline-item">
                                                            <a class="btn btn-danger btn-sm rounded-0"
                                                                href="<%= url('admin.deletePermission', {id_Permission: data[i].id_Permission }) %>"
                                                                onclick="return confirm('Are you sure to delete Role?')"
                                                                id=""><i class="fa fa-trash"></i></a>
                                                        </li>
                                                    </div>
                                                </div>
                                            </ul>
                                        </div>
                                    </div>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </div>
    </div>
</section>